{
    "semi": false,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "singleAttributePerLine": true,
    "importOrder": ["^@hooks/(.*)$", "^@types/(.*)$", "^@pages/(.*)$", "^@components/(.*)$", "^[./]"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
